@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.hint {
    opacity: 0.5;
}

* {
    font-family: 'Inter', sans-serif;
}

.sticky {
    transition: 0.5s all;
    padding: 10px;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    bottom: 0;
  }