@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.hint {
    opacity: 0.5;
}

* {
    font-family: 'Inter', sans-serif;
}

.sticky {
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
  }